# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/

# Django
*.sqlite3
db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Environment
.env
.env.local
.env.*.local
*.env

# Poetry
.venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
frontend/dist/
frontend/build/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
*.override.yml
